<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Crema de ajoporro</title>

</head>
<body class="bg-light">
    <div class="card mt-0 mb-0 ms-0 border-top-0 border-start-0 border-end-0">
        <div class="header text-bg-dark pt-2 pb-1 ps-3">
            
                <a href="/" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"><h3 class="card-title col-md-5">Mi recetario</h5></a>
                <p class="card-text mt-2 mb-1 col-md-6">Un respaldo digital de mis recetas favoritas</p>

        </div>
    </div>

    <div id="imageWrapper">
        <img src="{{ url_for('static', filename='imagenes/cremAjop.jpg') }}" class="img-fluid" alt="Sopa de ajoporro" id="fotoComida">
    </div>


    <img src="" alt="">
    
</body>
</html>