<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Recetario-Home</title>

</head>
<body>
    <div class="card">
        <div class="header text-bg-dark">
            <div class="wrapper ms-3 mt-1 mb-1">
            <h5 class="card-title ">Mi recetario</h5>
            <p class="card-text">Un respaldo digital de mis recetas favoritas</p>
        </div>
    </div>
</body>
</html>