<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Pan artesanal</title>

</head>
<body class="bg-light">
    <div class="card mt-0 mb-0 ms-0 border-top-0 border-start-0 border-end-0" id="Top">
        <div class="header text-bg-dark pt-2 pb-1 ps-3">
            
                <a href="/" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"><h3 class="card-title col-md-5">Mi recetario</h5></a>
                <p class="card-text mt-2 mb-1 col-md-6">Un respaldo digital de mis recetas favoritas</p>

        </div>
    </div>

<!-------------------TITULO---------------->
    <div class="ps-5 pt-3">
        <h1 class="display-2">Pan artesanal</h1>
    </div>

<!-------------------IMAGEN DE RECETA---------------->
    <div id="imageWrapper" class="d-flex justify-content-center mt-3">
        <img src="{{ url_for('static', filename='imagenes/panArtesanal.jpg') }}" class="img-fluid border border-dark-subtle border-4" alt="Sopa de ajoporro" id="fotoReceta">
    </div>

<!-------------------INGREDIENTES Y RECETA---------------->
    <section class="row mt-5 mb-5 container-fluid justify-content-center">
<!-------------------INGREDIENTES---------------->
        <div class="ingredientes col-md-3 mx-2">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info active" aria-current="true"><h3>Ingredientes</h3></li>
                <li class="list-group-item">100g de harina de trigo todo uso con al menos 11% de contenido de proteina</li>
                <li class="list-group-item">2g de sal</li>
                <li class="list-group-item">60g de Agua</li>
                <li class="list-group-item">25g de masa madre</li>
              </ul>
        </div>
<!-------------------RECETA--------------->
        <div class="receta col-md-8 mx-1">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true"><h3>Preparacion</h3></li>
                <li class="list-group-item">

                    <ol class="list-group list-group-numbered">
<!-------------------PASOS---------------->
                        <li class="list-group-item">Agregar harina en un bowl</li>
                        <li class="list-group-item">Agregar un poco de agua en la sal para disolverla, y el resto del agua al bowl con la harina</li>
                        <li class="list-group-item">Amasar la harina con el agua y la masa madre durante unos 3 segundos a penas para incorporar </li>
                        <li class="list-group-item">Agregar la sal hidratada</li>    
                        <li class="list-group-item">Amasar durante uno o dos minutos y dejar reposar media hora</li>
                        <li class="list-group-item">Luego llevar la masa al meson y usar la tecnica "Slap and fold" hasta que este tensa la masa y reposar 30 minutos</li>
                        <li class="list-group-item">Cada 30 minutos amasar el pan con la tecnica "Stretch and fold" hasta que hayan cumplido 4 rondas </li>
                        <li class="list-group-item">Dejar reposar hasta que doble el tamaño, dependiendo de la temperatura puede tomar de 2 a 4 horas</li>
                        <li class="list-group-item">Preformar las bolas de pan y reposar 30 minutos</li>
                        <li class="list-group-item">Dar forma y tension final y colocar en las canastas para reposo durante media hora</li>
                        <li class="list-group-item">Meter en la nevera durante al menos 3 horas para propiciar el salto en el horno</li>
                        <li class="list-group-item">Precalentar el horno a 200ºC</li>
                        <li class="list-group-item">Colocar el pan en una bandeja y hacer el corte respectivo</li>
                        <li class="list-group-item">Llegnar el horno de vapor (Esto queda de parte de la creatividad del cocinero)</li>
                        <li class="list-group-item">Hornear durante 20min en un entorno de alto vapor</li>
                        <li class="list-group-item">Bajar temperatura a 180ºC o 150ºC y hornear durante 20min en un entorno sin vapor o hasta que dore por fuera</li>
                        <li class="list-group-item">Sacar del horno y dejar reposar al menos 20 minutos antes de consumir</li>
                      </ol>

                </li>
        
              </ul>

        </div>
    </section>
    
    <button class="btn btn-primary mx-3 mb-5"><a href="#Top" class="fs-3 link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Inicio</a></button>
</body>
</html>