<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Pan de jamon</title>

</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme='dark'>
        <div class="container-fluid">
          <a class="navbar-brand my-auto" href="/">Mi Recetario</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
           
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Recetas
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">Home</a></li>
                  <li><a class="dropdown-item " href="/CremaDeAjoporro">Crema deAjoporro</a></li>
                  <li><a class="dropdown-item" href="/cervezaGengibre">Cerveza de Gengibre</a></li>
                  <li><a class="dropdown-item" href="/panArtesanal">Pan artesanal</a></li>
                  <li><a class="dropdown-item active" href="/PanDeJamon">Pan de jamon</a></li>
                  <li><a class="dropdown-item" href="/PolloHorneado">Pollo horneado</a></li>
                  <li><a class="dropdown-item" href="/Yogurt">Yogurt</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

<!-------------------TITULO---------------->
    <div class="ps-5 pt-3">
        <h1 class="display-2">Pan de Jamon</h1>
    </div>

<!-------------------IMAGEN DE RECETA---------------->
    <div id="imageWrapper" class="d-flex justify-content-center mt-3">
        <img src="{{ url_for('static', filename='imagenes/panJamon.jpg') }}" class="img-fluid border border-dark-subtle border-4" alt="Sopa de ajoporro" id="fotoReceta">
    </div>

<!-------------------INGREDIENTES Y RECETA---------------->
    <section class="row mt-5 mb-5 container-fluid justify-content-center">
<!-------------------INGREDIENTES---------------->
        <div class="ingredientes col-md-3 mx-2">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info active" aria-current="true"><h3>Ingredientes Masa</h3></li>
                <li class="list-group-item">Los ingredientes son para elaborar 1 solo pan</li>
                <li class="list-group-item">250g de Harina de trigo todo uso (Reservar la mitad para corregir)</li>
                <li class="list-group-item">62.5g de Leche líquida</li>
                <li class="list-group-item">40g de huevo batido</li>
                <li class="list-group-item">1/2 cda de levadura de panadería instantanea</li>
                <li class="list-group-item">50g de Azucar</li>
                <li class="list-group-item">2g de sal</li>
                <li class="list-group-item">37g de reduccion de papelon</li>
                <li class="list-group-item">63g de mantequilla</li>
                <li class="list-group-item">25g de agua</li>
                <li class="list-group-item list-group-item-info active" aria-current="true"><h3>Ingredientes Relleno</h3></li>
                <li class="list-group-item">100g de jamón de jamón de pierna </li>
                <li class="list-group-item">100g de jamón de jamón ahumado </li>
                <li class="list-group-item">3 laminas de tocineta (largas)</li>
                <li class="list-group-item">30 gramos de pasas remojadas en ron ,vino o papleon</li>
                <li class="list-group-item">38g de aceitunas sin hueso rellenas</li>


            </ul>
        </div>
<!-------------------RECETA--------------->
        <div class="receta col-md-8 mx-1">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true"><h3>Preparacion</h3></li>
                <li class="list-group-item">

                    <ol class="list-group list-group-numbered">
<!-------------------PASOS---------------->
                        <li class="list-group-item"><p>Tomar la levadura y agregarla a los 25g de agua junto a 13 gramos del azucar, revolver y dejar reposar durante 15 minutos.</p> <p>Si hay bastantes burbujas es que hay actividad y la levadura esta buena, si no sucede nada, lo mejor es descartar la levadura y buscar mas.</p></li>
                        <li class="list-group-item">Colocar la harina en un bowl a modo de volcan</li>
                        <li class="list-group-item">Agregar leche, azucar, sal y huevo en el centro del volcan y mezclar un par de minutos</li>
                        <li class="list-group-item">Agregar la levadura y mezclar hasta que se se homogenize</li>
                        <li class="list-group-item">Pasar masa al mesón y amasar durante unos 3 minutos </li>
                        <li class="list-group-item"><p>Agregar mantequilla a la masa y seguir amasando</p> <p>Este paso hace que la masa se desbarate , se ponga pegajosa y parece que perdimos el trabajo, pero no es así, sigue amasando y confía en el proceso</p> </li>
                        <li class="list-group-item">Seguir amasando 10 minutos despues de homogeneizada la masa y dejar reposar 45 minutos</li>
                        <li class="list-group-item">colocar en el mesón y estirar con el rodillo hasta que quede aproximadamente de 3mm de espesor </li>
                        <li class="list-group-item">Distribuir el jamón y las tocinetas en toda la superficie del pan, dejando un dedo aproximadamente de borde por donde cerrar el pan</li>
                        <li class="list-group-item">Distribuir las aceitunas y pasas </li>
                        <li class="list-group-item">Bañar todo con reduccion de papelon</li>
                        <li class="list-group-item">Enrrollar con cuidado</li>
                        <li class="list-group-item">La parte que se dejo sin relleno para cerrar debe quedar por debajo</li>
                        <li class="list-group-item">Dejar levando media hora</li>
                        <li class="list-group-item">Precalentar el horno a 180ºC</li>
                        <li class="list-group-item">Meter el pan en el horno y cocinar durante al menos 20 minutos</li>


                      </ol>

                </li>
        
              </ul>

        </div>
    </section>
    
    <button class="btn btn-primary mx-3 mb-5"><a href="#Top" class="fs-4 link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Inicio</a></button>
</body>
</html>